/* App Design */
.App {
  padding-top: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  background-color: #e6a6a6;
  overflow-x: hidden;
  position: relative;
}


/* Navbar Design */

/* Banner Design */

/* AboutMe Design */

/* Skills Design */

/* Projects Design */

/* Contact Design */

/* Footer Design */
